<p>welcome {{name}}..You are the best</p>
<div class="container" *ngIf="errorMessage">{{errorMessage}}</div>


<div *ngIf="!errorMessage">
    Click Here to get Customized Welcome message
   <button (click)= "getWelcomeMessage()" class="btn btn-success"> WelcomeMessage</button>
   <div *ngIf="welcomeMessageFromService"> {{welcomeMessageFromService}}</div>



   <div class="container">
   Click here to get Customized WelcomeMessageWithParams
   <button (click)="getWelcomeMessageWithParam()" class="btn btn-success">WelcomeMessageWithParam</button>
   <div >{{WelcomeMessageFromServiceWithParams}}</div>
</div>
</div>
