<header>
    <nav class="navbar navbar-expand-md navbar-dark bg-dark">
        <div><a routerLink="/home" class="navbar-brand ">ToDoApp</a></div>
        <ul class="navbar-nav">
            <li><a *ngIf="hardCodedAuthenticationService.isUserLoggedIn()"  routerLink="/welcome/Shivam" class="nav-link">Home</a></li>
            <li><a *ngIf="hardCodedAuthenticationService.isUserLoggedIn()" routerLink="/todos" class="nav-link">ToDoList</a></li>
        </ul>
        <ul class="navbar-nav navbar-collapse justify-content-end ">
            <li><a *ngIf="!hardCodedAuthenticationService.isUserLoggedIn()" routerLink="/login" class="nav-link">Login</a></li>
            <li><a *ngIf="hardCodedAuthenticationService.isUserLoggedIn()" routerLink="/logout" class="nav-link">Logout</a></li>
        </ul>
    </nav>
</header>